<div class="row">
    <div class="col">
        <h5>Courses you have passed in this semester</h5>
        <% if @user_curr_pass_info.count == 0 %>
            <p class="card-text">Nothing to show now.</p>
        <% else %>
        <ul class="list-group">
            <% @user_curr_pass_info.each do |uc| %>
            <li class="list-group-item"><%= uc[:code] %><br><%= uc[:title] %></li>
            <% end %>
        </ul>
        <% end %> <br>
    </div>
    <div class="col">
        <h5>Courses you have passed before</h5>
        <% if @user_all_pass_info.count == 0 %>
            <p class="card-text">Nothing to show now.</p>
        <% else %>
        <ul class="list-group">
            <% @user_all_pass_info.each do |uc| %>
            <li class="list-group-item"><%= uc[:code] %><br><%= uc[:title] %></li>
            <% end %>
        </ul>
        <% end %> <br>
    </div>
    <div class="col">
        <h5>Courses you need to pass through Backlog</h5>
        <p>Note: You can select at most three courses at a time.</p>
        <% if @user_all_fail.count == 0 %>
            <p class="card-text">Nothing to show now.</p>
        <% else %>
            <% if @user_curr_registered_log_info.count > 0 %>
                <ul class="list-group">
                <% @user_curr_registered_log_info.each do |uc| %>
                <li class="list-group-item">
                    <div class="row">
                    <div class="col">
                    <%= uc[:code] %><br><%= uc[:title] %><br>
                    </div>
                    <div class="col" style="text-align:right">
                        <b>Already registered</b><br>
                        <b>Result: <%= uc[:status] %>
                    </div>
                    </div>
                </li>
                <% end %>
                </ul>
            <% end %>
            <ul class="list-group">
              <% @user_all_fail_info.each do |uc| %>
                <li class="list-group-item">
                  <div class="row">
                    <div class="col">
                    <%= uc[:code] %><br><%= uc[:title] %><br>
                    </div>
                    <div class="col" style="text-align:right">
                      <%= button_to 'Select', welcome_student_sel_for_backlog_path(course_id: uc[:c_id]), :class => 'btn btn-outline-primary btn-sm' %>
                    </div>
                  </div>
                </li>
              <% end %>
            </ul>
            <br>
            <%= button_to 'Register for Backlog', welcome_student_reg_backlog_path(u_id: @user.id), :class => 'btn btn-primary btn-sm' %>
        <% end %> <br>
    </div>
</div>
