<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to 'Home', welcome_student_index_path, :class => "navbar-brand" %></li>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
      <% if @user.user_profile %>
        <%= link_to 'Courses', course_dept_show_courses_user_path(dept_id: @user.user_profile.department_id ), :class => "nav-link" %></li>
      <% else %>
        <%= link_to 'Courses', course_dept_show_courses_user_path(dept_id: "-1" ), :class => "nav-link" %></li>  
      <% end %>
      </ul>
    </div>
  </div>
</nav>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
          <ul class="list-group">
            <% if @user.user_profile %>
              <li class="list-group-item"><%= image_tag @user.user_profile.profile_picture, :style =>'width:60%' %></li>
            <% end %>  
            <li class="list-group-item">Name: <%= @user_name %> </li>
            <li class="list-group-item">Email: <%= @user_email %> </li>
            <% if @user.user_profile %>  
              <% dept = Department.find_by(id: @user.user_profile.department_id) %>
              <% dept_name = dept.name %>
              <li class="list-group-item">Department: <%= dept_name %> </li>
              <li class="list-group-item">Current Semester: <%= @user.user_profile.current_semester %> </li>
              <li class="list-group-item">Address: <%= @user.user_profile.address %> </li>
              <li class="list-group-item">Blood Group: <%= @user.user_profile.blood_group %> </li>
            <% end %>
          </ul>
          <% if @user.user_profile %> 
            <br>
            <%= link_to "Want to update Information?", edit_user_profile_path(@user.user_profile, u_id: @user_id), :class => "link-primary" %>
            <br><br>
          <% else %>
            <br>
            <%= link_to "Want to set your profile?", new_user_profile_path(u_id: @user_id), :class => "link-primary" %>
            <br>
          <% end %>
          <br>
          <%= button_to 'Logout', logout_user_path, method: :delete, :class => "btn btn-danger" %>
        </div>

        <div class="col-8">
          <div class="row">
            <div class="col-6">
              <div class="card" style="width: 100%;">
                <div class="card-body">
                  <h5 class="card-title">You have enrolled <%= @user_curr_courses.count %> courses for the current semester.</h5>
                  <% if @user_curr_courses.count == 0 %>
                    <p class="card-text">Nothing to show now.</p>
                  <% else %>
                    <ul class="list-group">
                      <% @user_curr_courses_info.each do |uc| %>
                        <li class="list-group-item"><%= uc[:code] %><br><%= uc[:title] %>
                        <br><b>Result: <%= uc[:status] %></b></li>
                      <% end %>
                    </ul>
                  <% end %> <br>
                  <%= button_to 'Enroll for new semester', welcome_student_available_courses_path(u_id: @user_id), :class => 'btn btn-primary btn-sm' %>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="card" style="width: 100%;">
                <div class="card-body">
                  <h5 class="card-title">You have passed <%= @user_passed_courses.count %> courses</h5>
                    <% if @user.user_profile %> 
                      <p class="card-text">You need to pass <%= dept.courses.count - @user_passed_courses.count %> courses more.</p>
                    <% else %>
                      <p class="card-text">Complete your profile setup first and enroll courses to pass.</p>
                    <% end %>
                    <%= button_to 'See Details', welcome_student_course_status_path(u_id: @user), :class => "btn btn-primary btn-sm" %>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>