<div class="row">
  <div class="col">
    <p>
      <strong>Name:</strong>
      <%= @user.name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>

    <% if @user.user_profile.approved %>
      <p>
        <strong>Department:</strong>
        <%= @user.user_profile.department.name %>
      </p>

      <p>
        <strong>Current Semester:</strong>
        <%= @user.user_profile.current_semester %>
      </p>
      <p>
        <strong>Enrolled Courses for the current semester: </strong>
        <% if @user_curr_courses.count == 0 %>
          <p class="card-text">User hasn't enrolled any course yet.</p>
        <% else %>
          <ul class="list-group">
            <% @user_curr_courses_info.each do |uc| %>
              <li class="list-group-item">
                <div class="row">
                  <div class="col">
                  <%= uc[:code] %><br><%= uc[:title] %><br>
                  <b>Result: <%= uc[:status] %></b>
                  </div>
                  <div class="col" style="text-align:right">
                    <% if uc[:status]=="pending" %>
                      <b>Set Result</b><br>
                      <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <%= button_to 'Pass', users_set_pass_path(c_id: uc[:c_id], u_id: uc[:u_id]), :class => 'btn btn-primary btn-sm' %>
                        <%= button_to 'Fail', users_set_fail_path(c_id: uc[:c_id], u_id: uc[:u_id]), :class => 'btn btn-primary btn-sm' %>
                      </div>
                    <% else %>
                      <b> Result has been updated. </b>
                    <% end %>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
          <% if @user_curr_log_courses_info.count > 0 %>
            <strong>Enrolled Courses for the current backlog: </strong>
            <ul class="list-group">
            <% @user_curr_log_courses_info.each do |uc| %>
              <li class="list-group-item">
                <div class="row">
                  <div class="col">
                  <%= uc[:code] %><br><%= uc[:title] %><br>
                  <b>Result: <%= uc[:status] %></b>
                  </div>
                  <div class="col" style="text-align:right">
                    <% if uc[:status] == "pending" %>
                      <b>Set Result</b><br>
                      <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <%= button_to 'Pass', users_set_pass_log_path(c_id: uc[:c_id], u_id: uc[:u_id], sem: uc[:semester]), :class => 'btn btn-primary btn-sm' %>
                        <%= button_to 'Fail', users_set_fail_log_path(c_id: uc[:c_id], u_id: uc[:u_id], sem: uc[:semester]), :class => 'btn btn-primary btn-sm' %>
                      </div>
                    <% else %>
                      <b> Result has been updated. </b>
                    <% end %>
                  </div>
                </div>
              </li>
            <% end %>
            </ul>
          <% end %>
        <% end %> <br>
      </p>
    <% elsif @user.user_profile && @user.user_profile.approved==false %>
      <p>
        <strong>Department:</strong>
        <%= @user.user_profile.department.name %>
      </p>

      <p>
        <strong>Current Semester:</strong>
        <%= @user.user_profile.current_semester %>
      </p>
      <% if @user.reject_profile_messages[0] == nil %>
        <%= button_to "Approve User", users_approve_user_path(u_id: @user.id), :class=>"btn btn-primary btn-sm" %>
        <br>
        <%= link_to "Reject User", new_user_reject_profile_message_path(@user), remote: true %>
        <br>
        <div id="send_reject_msg">
          <p></p>
        </div>
      <% else %>
        <p>You've rejected this profile.</p>
        <p>Sent Message: </p>
        <p><%= @user.reject_profile_messages[0].body %></p>
      <% end %>
    <% else %>
      <p>User hasn't set profile yet.</p>        
    <% end %>
  </div>
  <div class="col">
  </div>
</div>



<br>
<!-- <%= link_to 'Edit', edit_user_path(@user) %> | -->
<%= link_to 'Back', users_path %>
