<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<h1>Departments</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Total Students</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @departments.each do |department| %>
      <tr>
        <td><%= department.name %></td>
        <td><%= department.description %></td>
        <td><%= link_to department.user_profiles.count, departments_show_user_path(dept: department) %></td>
        <td><%= link_to 'Show', department, :class => "link-primary" %></td>
        <td><%= link_to 'Edit', edit_department_path(department), :class => "link-success" %></td>
        <td><%= link_to 'Destroy', department, method: :delete, :class => "link-danger", data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= button_to 'New Department', new_department_path,  :class => "btn btn-primary" %>