<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to 'Home', welcome_index_path, :class => "navbar-brand" %></li>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <%= link_to 'Courses', courses_path, :class => "nav-link" %></li>
        <%= link_to 'Departments', departments_path, :class => "nav-link" %></li>
        <%= link_to 'Users', users_path, :class => "nav-link" %></li>
      </ul>
    </div>
  </div>
</nav>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <% if session[:admin_id] %>
        <ul class="list-group">
            <li class="list-group-item">Name: <%= @admin_name %> </li>
            <li class="list-group-item">Email: <%= @admin_email %> </li>
        </ul>
        <br>
        <%= button_to 'Logout', logout_path, method: :delete, :class => "btn btn-danger" %>
      <% end %>
    </div>
    <div class="col-4">
      <h4>Current Departements</h4>
      <table class="table table-hover">
        <thead>
            <tr>
            <th>Name</th>
            <th>Total Courses</th>
            <th colspan="2"></th>
            </tr>
        </thead>
    
        <tbody>
            <% @depts.each do |department| %>
            <tr>
                <td><%= department.name %></td>
                <td><%= department.courses.count %></td>
                <td>
                  <%= link_to "Manage Courses", course_dept_index_path(dept_id: department) %>
                </td>
                <td>
                  <%= link_to "See Courses", course_dept_show_courses_path(dept_id: department), remote: true %>
                </td>
            </tr>
            <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-5">
      <h4>Courses under your selected department</h4>
      <div id="demo">
        <p>You didn't select any department.</p>
      </div>
    </div>
  </div>
</div>
