<h1>Courses</h1>

<table class="table table-hover table align-middle">
  <thead>
    <tr>
      <th>Code</th>
      <th>Title</th>
      <th>Description</th>
      <th>Prerequisite</th>
      <th>Credit</th>
      <th>Days</th>
      <th>Semester</th>
      <th>Enrolled Students</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.code %></td>
        <td><%= course.title %></td>
        <td><p>
        <%= truncate(strip_tags(course.description),
        length: 50) %>
        </p></td>
        <td><%= course.prerequisite %></td>
        <td><%= course.credit %></td>
        <td><%= course.days %></td>
        <td><%= course.semester %></td>
        <td><%= link_to course.users.count, courses_show_user_path(course: course) %></td>
        <td>
          <ul>
            <li><%= link_to 'Show', course, :class => "link-primary" %></li>
            <li><%= link_to 'Edit', edit_course_path(course), :class => "link-success" %></li>
            <li><%= link_to 'Destroy', course, method: :delete, :class => "link-danger", data: { confirm: 'Are you sure?' } %></li>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'New Course', new_course_path, method: :get, :class => "btn btn-primary" %>
