<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @course.code %>
</p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Prerequisite:</strong>
  <%= @course.prerequisite %>
</p>

<p>
  <strong>Credit:</strong>
  <%= @course.credit %>
</p>

<p>
  <strong>Days:</strong>
  <%= @course.days %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @course.semester %>
</p>

<!-- <%= link_to 'Edit', edit_course_path(@course) %> | 
<%= link_to 'Back', courses_path %> -->
